


/* HomePage */
.body-home-page {
  background-color: aliceblue;
  background-image: url('images/home_img.png');
  background-repeat: repeat;
  font-family: 'Poppins', sans-serif;
}

/* FairShare title */
.h1-home-page {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FDF0D5;
  text-align: center;
  margin-top: 15%;
}

/* FairShare tag line */
h4 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FDF0D5;
  text-align: center;
  margin-bottom: 45%;
}

/* Start now button */
button {
  background-color: #669BBC;
  color: #FDF0D5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 50%;
  margin: auto;
  border: none;
  height: 60px;
  border-radius: 30px;
  }

.h1-login {
  color: #FDF0D5;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #FDF0D5;
  text-align: center;
  margin-left: 110px;
}

.actual-body {
  background-color: #003049;
}

.back-arrow .material-symbols-outlined {
  color: #FDF0D5;
  margin-left: 100%;
}

.login-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-self: center;
}


















.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  width: 90%;
  max-width: 95%;
  background-color: #FDF0D5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar .icon {
  text-decoration: none;
  color: #003049;
}

.navbar .icon .material-symbols-outlined {
  font-size: 40px;
}

.navbar .third-icon .material-symbols-outlined {
  font-size: 90px;
  margin-bottom: 50%;
  background-color: #FDF0D5;
  color: #003049;
  border-radius: 100%;
}
